<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>italk</display-name>
  <description>Online real time Sample Application</description>
  
  <context-param>
	<param-name>contextConfigLocation</param-name>
	<param-value>/WEB-INF/classes/applicationContext.xml</param-value>
  </context-param>
  
  <listener>
       <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
  </listener>
  
  <!-- Spring 刷新Introspector防止内存泄露 -->
  <listener>
	<listener-class>
		org.springframework.web.util.IntrospectorCleanupListener
	</listener-class> 
  </listener>
  
  <!-- EncodingFilter要放在struts2的FilterDispatcher前面,先调整字符集，再进入Action -->
  <filter>
	<filter-name>EncodingFilter</filter-name>
	<filter-class>com.bird.filter.EncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>GBK</param-value>
	</init-param>
  </filter>
  <filter-mapping>
	<filter-name>EncodingFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter> 
        <filter-name>struts-cleanup</filter-name> 
        <filter-class> 
            org.apache.struts2.dispatcher.ActionContextCleanUp
        </filter-class> 
  </filter>
  <filter-mapping> 
        <filter-name>struts-cleanup</filter-name> 
        <url-pattern>*.action</url-pattern > 
  </filter-mapping>
  <filter>
       <filter-name>struts2</filter-name>
       <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
       <filter-name>struts2</filter-name>
       <url-pattern>*.action</url-pattern>
  </filter-mapping>


  <filter>
	<filter-name>AccessPurviewFilter</filter-name>
	<filter-class>com.bird.filter.AccessPurviewFilter</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>AccessPurviewFilter</filter-name>
	<url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
	<filter-name>AccessPurviewFilter</filter-name>
	<url-pattern>/frame/*</url-pattern>
  </filter-mapping>
 
  <session-config>
	<session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
	<welcome-file>frame/iTalk.jsp</welcome-file>
  </welcome-file-list>
	
</web-app>
