<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<import resource="database.xml" />
	<bean id="userDao" class="com.bird.dao.impl.UserDaoImpl">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient"/>
		</property>
	</bean>
	<bean id="followDao" class="com.bird.dao.impl.FollowDaoImpl">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient"/>
		</property>
	</bean>
	<bean id="userService" class="com.bird.service.impl.UserServiceImpl">
		<property name="userDao">
			<ref local="userDao" />
		</property>
		<property name="followDao">
			<ref local="followDao" />
		</property>
	</bean>
	<bean id="topicDao" class="com.bird.dao.impl.TopicDaoImpl">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient"/>
		</property>
	</bean>
	<bean id="topicService" class="com.bird.service.impl.TopicServiceImpl">
		<property name="topicDao">
			<ref local="topicDao" />
		</property>
	</bean>
	
	<bean id="talkLogin" class="com.bird.action.TalkLogin">
		<property name="userService">
			<ref local="userService"/>
		</property>
	</bean>
	<bean id="talkRegister" class="com.bird.action.TalkRegister">
		<property name="userService">
			<ref local="userService"/>
		</property>
	</bean>
	<bean id="newTalk" class="com.bird.action.NewTalk">
		<property name="topicService">
			<ref local="topicService"/>
		</property>
	</bean>
	<bean id="homeTalk" class="com.bird.action.HomeTalk">
		<property name="userService">
			<ref local="userService"/>
		</property>
		<property name="topicService">
			<ref local="topicService"/>
		</property>
	</bean>
	<bean id="storageTalk" class="com.bird.action.StorageTalk">
		<property name="topicService">
			<ref local="topicService"/>
		</property>
	</bean>
	<bean id="findPeople" class="com.bird.action.FindPeople">
		<property name="userService">
			<ref local="userService"/>
		</property>
		<property name="topicService">
			<ref local="topicService"/>
		</property>
	</bean>
	<bean id="randomBrowse" class="com.bird.action.RandomBrowse">
		<property name="userService">
			<ref local="userService"/>
		</property>
		<property name="topicService">
			<ref local="topicService"/>
		</property>
	</bean>
	<bean id="settingsTalk" class="com.bird.action.SettingsTalk">
		<property name="userService">
			<ref local="userService"/>
		</property>
	</bean>
	<bean id="settingsInfo" class="com.bird.action.SettingsInfo">
		<property name="userService">
			<ref local="userService"/>
		</property>
	</bean>
	<bean id="forgetPwd" class="com.bird.action.ForgetPassword">
		<property name="userService">
			<ref local="userService"/>
		</property>
	</bean>
	
	<bean id="exitTalk" class="com.bird.action.ExitTalk">
	</bean>
	<bean id="followUser" class="com.bird.action.FollowUser">
		<property name="userService">
			<ref local="userService"/>
		</property>
	</bean>
	<bean id="checkUserName" class="com.bird.action.CheckUserName">
		<property name="userService">
			<ref local="userService"/>
		</property>
	</bean>
	<bean id="checkUniqueEmail" class="com.bird.action.CheckUniqueEmail">
		<property name="userService">
			<ref local="userService"/>
		</property>
	</bean>
	
</beans>	
			
