<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

     <bean id="logProcess" class="com.ambow.log.timer.LogProcess" />
     <bean id="schedulerJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">     
        <property name="targetObject" ref="logProcess" />
        <property name="targetMethod" value="process" />
        <!-- assign concurrent false, multi job can't concurrent running -->
		<property name="concurrent" value="false"/>
    </bean>
     <bean id="logTrigger" 
        class="org.springframework.scheduling.quartz.CronTriggerBean">
         <property name="jobDetail" ref="schedulerJobDetail"/>
         <property name="cronExpression">
             <!-- 10 minutes trigger one time -->
             <value>0 0/10 * * * ?</value>
         </property>
     </bean>
     
     <bean id="monitorStatus" class="com.ambow.log.monitor.MonitorServiceImpl" />
     <bean id="monitorJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">     
        <property name="targetObject" ref="monitorStatus" />
        <property name="targetMethod" value="recordServerStatus" />
		<property name="concurrent" value="false"/>
    </bean>
     <bean id="monitorTrigger" 
        class="org.springframework.scheduling.quartz.CronTriggerBean">
         <property name="jobDetail" ref="monitorJobDetail"/>
         <property name="cronExpression">
             <value>0 0/15 * * * ?</value>
         </property>
     </bean>

     <bean id="schedulerFactory"
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
         <property name="triggers">
             <list>
                 <ref local="logTrigger" />
                 <ref local="monitorTrigger" />
             </list>
         </property>
     </bean>
     
     <bean id="propertiesBean" class="com.ambow.log.vo.PropertiesBean">
     	<property name="logFlag" value="0" />
     	<!-- the characters to filter, separated by && -->
	 	<property name="filterFields">
			<value><![CDATA[_&&password]]></value>
		</property>
		<property name="memoryRange">
			<value>75</value>
		</property>
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/italk?useUnicode=true&amp;characterEncoding=gbk" />
		<property name="userName" value="root" />
		<property name="password" value="geeksun" />
		<property name="windowsDir" value="D:\\" />
		<property name="linuxDir" value="/server/log/" />
		<!-- Mail settings -->
		<property name="mailUserName" value="jiangzhiqiang" />
		<property name="mailPassword" value="Ambow99999999" />
		<property name="mailFrom" value="zhiqiang.jiang@ambow.com" />
		<property name="mailTo" value="geeksun@163.com" />
		<property name="mailServerHost" value="mail.ambow.com" />
		<!-- SQL settings -->
		<property name="dataLogSqlIns">
			<value>insert into data_log (MODULE_ID,OPT_TYPE,OPT_ID,OPT_TIME,ORIGINAL_DATA,CHANGES_DATA,OBJ_ID,IP_ADDRESS,REMARK) values (?,?,?,?,?,?,?,?,?)</value>
		</property>
		<property name="operateLogSqlIns">
			<value>insert into operate_log (MODULE_ID,OPT_ID,OPT_TIME,IP_ADDRESS,URL,OPT_CONTENT) values (?,?,?,?,?,?)</value>
		</property>
		<property name="actModuleSqlSel">
			<value>select * from act_module t where t.url = ?</value>
		</property>
	 </bean>
</beans>